body {
  margin: 20px;
  font-family: Verdana;
}

.avatar {
  width: 150px;
}

img {
  width: 100%;
}
.ca {
  text-align: center;
  width: 400px;

  margin: 8px auto;
  padding: 20px;
  display: flex;
  color: #283930;
  justify-content: space-around;
  background-color: #def7de;
  border-bottom: 7px solid rgb(206, 162, 123);
}

.italic {
  font-style: italic;
}

.innertext {
  margin-top: 1px;
  padding: 1px;
}

.card {
  width: 90%;
  max-width: 400px;
}

img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 600px) {
  .card {
    width: 90%;
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    width: 120px;
    margin-bottom: 15px;
  }

  .info {
    text-align: center;
  }
}
